.page-body {
    font-family: "Roboto";
    background-image: url(/img/background.png);
    background-size: cover;
}
.container {
    max-width: 1030px;
    margin-right: auto;
    margin-left: auto;
}
.page-header{
    padding-top: 46px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 17px;
}
.logo{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.logo:hover .logo-img-orange, 
.logo:hover .logo-title {
    display: block;
    color: #F26522;
}

 .logo-img-orange{
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}
.logo-title {
    font-weight: 700;
    font-size: 29px;
    line-height: 29px;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 8px;  
}
.logo-title-new-row{
    font-size: 18px;
    line-height: 18px;
    display: block;
    margin-top: 3px;
}

.contacts{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.contacts-link{
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}
.contacts-link:hover {
    color: #F26522;
}

.tours{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    justify-items: center;
   gap: 37px 55px;
}

.tours-card:hover .tours-card-description {
    color: #F26522;
}
.tours-card:hover .hidden-block{
    bottom: 0;
}
.tours-card-description{
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    margin-top: 20px;
    margin-bottom: 0;
}
.tours-card-link{
    text-align: center;
}
.tours-card-img-wrap {
    position: relative;
    overflow: hidden;
}
.tours-card-img{
    display: block;
    border: 2px solid black;
    border-image: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 98%);
    border-image-slice: 1;

}

.hidden-block{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: absolute;
    bottom: -66px;
    background: #F26522;
    width: 100%;
    padding: 12px 15px;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    transition: bottom 0.5s;
}
.price{
    margin-top: 0;
    margin-bottom: 0;
}
.price-description{
    display: block;
    font-size: 20px;
    line-height: 20px;
    margin-top: 8px;
}
.price-description::before {
    content: "€";
}
.details{
    margin-top: 0;
    margin-bottom: 0;
}
.details::after{
    content:url(/img/vector1.png);
    margin-left: 16px;
}


.copyright{
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 48px;
    margin-bottom: 0px;
    padding-bottom: 15px;
}
.copyright::before{
    content: "©";
}